{% extends  'base.html'%}



{% block content %}




<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Zayavka: sozdat'</h2>

        <div class="flex mb-4">
 </div>
          <form method="post">
            {%csrf_token %}
            {{form.as_p}}

<button type="submit">Submit</button>




    </div>
  </div>


</section>




{% endblock content %}