{% extends  'base.html'%}



{% block content %}






<div>



  <div class="container   mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Spisok vashih zayavok</h1>

      <div class="flex mx-auto border-2 border-indigo-500 rounded overflow-hidden ">


        <a href="{% url 'zayavki:zayavka-create-c' %}"> Sozdat' zayavku </a>
      </div>




<section class="text-gray-600 body-font overflow-hidden">


      <div class="flex mx-auto border-2 border-indigo-500 rounded overflow-hidden mt-6">

      </div>
  <div class="container px-5 py-24 mx-auto">

    <div class="flex flex-wrap -m-12">
      {% for xd in zayavka %}

      <div class="border-2 border-indigo-500 rounded p-12 md:w-1/2 flex flex-col items-start">

        <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">{{xd.data}}</span>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">{{xd.imya}}  {{xd.familiya}}</h2>
        <p class="leading-relaxed mb-8">{{xd.text}}</p>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <a href="{% url 'zayavki:zayavka-detali-c' xd.pk %}" class="text-indigo-500 inline-flex items-center">Detali zayavki
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>---
          </span>
          {% if xd.status %}
            <p class="flex items-center text-green-600 mb-2">Status: vipolneno
             {% endif %}
              {% if not xd.status %}
           <p class="flex items-center text-red-600 mb-2">Status: ne vipolneno
             {% endif %}
          <span class="text-gray-400 inline-flex items-center leading-none text-sm">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
            </svg>---
          </span>
        </div>
        <a class="inline-flex items-center">
          <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            {% if xd.user %}
            <span class="title-font font-medium text-gray-900">{{xd.user}}</span>
            <span class="text-gray-400 text-xs tracking-widest mt-0.5">Zakaz vipolnyaet</span>
            {% else %}
            <span class="title-font font-medium text-gray-900"> Rabochiy eshe ne vzyal vash zakaz</span>
            <span class="text-gray-400 text-xs tracking-widest mt-0.5"></span>

            {% endif %}

          </span>
        </a>

      </div>
      {%endfor%}
      </div>



  </div>

</section>

{% endblock content %}