{% extends  'base.html'%}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    {% if user.is_manadger %}
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src=https://yt3.ggpht.com/ytc/AKedOLRDeStCzTp_OSCXuJaQEZTmJNYYNwfr18SNIOaU=s900-c-k-c0x00ffffff-no-rj>
    {% endif%}
    {% if user.is_rabotyaga%}
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src=https://i09.fotocdn.net/s115/8692952a19168187/public_pin_l/2603604184.jpg>
{%endif%}
    {% if user.is_client %}
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src=https://img2.freepng.ru/20180418/ppw/kisspng-client-computer-icons-clip-art-5ad79ac15eb3e0.5159876515240792973879.jpg>
    {% endif %}
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Artel CRM</h1>
      <p class="mb-8 leading-relaxed">Zavod</p>

      <a href="{% url 'zayavki:zayavka-spisok' %}" >spisok zayavok </a>


{% endblock content %}